body {
    display: block;
}

.project-container {
    width: 100%;
    /* height: 34rem; */
    position: relative;
    background-color: var(--secondary-text-color);
    margin-bottom: 8rem;
}

.project-notification, 
.project-information {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-inverse-color);
    padding: var(--default-spacing);
    position: absolute;
}

.project-notification h3,
.project-information h3 {
    text-transform: uppercase;
}

.project-notification h3 {
    margin-bottom: 0;
}

.project-notification {
    top: 0;
    right: 0;
    width: fit-content;
}
.project-information {
    bottom: 0;
    left: 0;
    width: 20rem;
}

/* @media (max-width: 768px) {


    
} */
