/* VARIABLES */

:root {

    /* COLOURS */
    
    --primary-text-color: rgb(56, 73, 89);
    --secondary-text-color: rgba(56, 73, 89, 0.5);
    --primary-text-inverse-color: rgb(255, 255, 255);
    --secondary-background-color: rgb(56, 73, 89);
    --box-shadow-color: rgba(0, 0, 0, 0.25);

    /* FONT SIZES */

    --default-font-size: 16px;
    --h1-font-size: 1rem;
    --h2-font-size: 6rem;
    --h3-font-size: 1rem;
    --paragraph-large-font-size: 1.5rem;
    --paragraph-medium-font-size: 1rem;
    --paragraph-small-font-size: .875rem;
    --paragraph-xsmall-font-size: .75rem;

    /* FONT FAMILIES */

    --primary-text-font-family: "Delight Medium", sans-serif;
    --secondary-text-font-family: "Ronzino Regular", sans-serif;
    --h2-font-family: "Delight SemiBold", sans-serif;

    /* SPACING */

    --default-spacing: 1rem;
    --small-spacing: .5rem;

    /* WIDTHS */

    --landscape-third-width: 33.3333%;
    --landscape-two-thirds-width: 66.6666%;

    /* LINE HEIGHTS */
    --default-line-height: .875;
    --paragraph-large-line-height: 1.1667;
    --h2-line-height: 1.1667;
    --default-portrait-line-height: 1;
}

/* FONTS */

@font-face {
    font-family: "Delight Medium";
    src: url(../fonts/Delight/delight-medium.otf) format('opentype');
}

@font-face {
    font-family: "Delight SemiBold";
    src: url(../fonts/Delight/delight-semibold.otf) format('opentype');
}

@font-face {
    font-family: "Ronzino Regular";
    src: url(../fonts/Ronzino/Ronzino-Regular.otf) format('opentype');
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
  border-radius: 0;
}


/* DEFAULTS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scrollbar-width: thin;
    scrollbar-color: var(--secondary-background-color) transparent;
}

html {
    font-size: var(--default-font-size);
}

html, body {
    font-family: var(--secondary-text-font-family);
    color: var(--secondary-text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: var(--default-line-height);
}

.h2-heading {
    font-size: var(--h2-font-size);
    font-family: var(--h2-font-family);
    line-height: var(--h2-line-height);
    color: var(--primary-text-color);
    text-align: left;
    width: 100%;
}

.h3-heading {
    font-size: var(--h3-font-size);
    color: var(--primary-text-inverse-color);
    text-align: left;
    margin-bottom: var(--default-spacing);
}

.paragraph-large {
    font-size: var(--paragraph-large-font-size);
    line-height: var(--paragraph-large-line-height);
}

.paragraph-medium {
    font-size: var(--paragraph-medium-font-size);
}

.paragraph-small {
    font-size: var(--paragraph-small-font-size);
    line-height: var(--paragraph-large-line-height);
}

.paragraph-xsmall {
    font-size: var(--paragraph-xsmall-font-size);
}

/* LAYOUT */

.container {
    width: 100%;
    height: 90vh;
    max-width: 90rem;
    display: flex;
}

.landscape-third {
    width: var(--landscape-third-width);
    height: 100%;
    position: relative;
}

.copyright {
    position: absolute;
    left: 0;
    bottom: 100%;

    font-size: var(--paragraph-medium-font-size);
    color: var(--secondary-text-color);

    transform: rotate(90deg);
    transform-origin: bottom left;
}

.header {
    position: absolute;
    right: 0;
    text-align: right;
}

.header ul {
    list-style: none;
}

.header ul li {
    margin: var(--small-spacing) 0;
}

.logo {
    font-size: var(--h1-font-size);
    margin-bottom: 9rem;
}

.navigation {
    margin-top: 9rem;
}

.navigation, 
.logo {
    text-transform: uppercase;
    font-family: var(--primary-text-font-family);
}

.header a {
    color: var(--secondary-text-color);
    text-decoration: none;
} 
.header a:hover {
    color: var(--primary-text-color);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.1rem;
}

.contacts a {
    color: var(--primary-text-color);
    font-weight: bold;
}

.contacts a:hover {
    text-decoration: none;
}

.landscape-two-thirds {
    width: var(--landscape-two-thirds-width);
    height: 100%;   
}

#viewer {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 7rem;  
}

@media (max-width: 992px) {
    :root {
        --default-font-size: 14px;
    }

    .project-container {
        height: 30rem;
    }

    .project-notification, 
    .project-information {
        width: 100%;
    }

    .project-notification {
        top: auto;
        right: 0;
    }
    
    .project-information {
        bottom: auto;
        left: 0;
        width: 100%;
    }

    #viewer {
        padding: 0 1.5rem;  
    }

}


@media  (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100vh;
        padding-top: var(--default-spacing);
    }

    .logo {
        margin-bottom: var(--default-spacing);
    }

    .landscape-third {
        padding: 0 1.5rem;
        width: 100%;
        height: fit-content;
    }

    .landscape-two-thirds {
        width: 100%;
    }

    .header {
        position: static;
        text-align: left;
        margin-bottom: var(--default-spacing);
    }

    .header ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }

    .navigation {
        margin-top: 0;
    }

    .header ul li {
        margin: var(--small-spacing) 0;
    }
    
    #viewer {
        padding: 0 0 0 1.5rem;
        height: 45rem;  
    }

}
