:root {
  --max-width: 1440px;
}

@font-face {
  font-family: "Ogg Bold";
  src: url(./fonts/Ogg-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Ogg Regular";
  src: url(./fonts/Ogg-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Thin";
  src: url(./fonts/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/Roboto-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.line__container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  max-width: var(--max-width);
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.separator {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.149);
  mix-blend-mode: difference;
}

.separator:nth-child(1) {
  left: 20%;
}

.separator:nth-child(2) {
  left: 50%;
}
.separator:nth-child(3) {
  left: 80%;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.scroll__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.hero {
  position: relative;
  height: 100%;
  width: 100%;
}

.hero__container {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.hero__title {
  width: 100%;
}

.hero__title h1 {
  font-size: clamp(2rem, 20cqi, 15rem);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "PlayfairDisplay";
  color: transparent;
  -webkit-text-stroke: 2px #00ff2a;
}

.text__animation span {
  transition-property: color text-shadow;
  transition-duration: 0.25s;
}

.text__animation:hover span {
  color: #00ff2a;
  text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;
}

.hero__image {
  position: relative;
  width: clamp(10rem, 15cqi, 15rem);
  height: clamp(10rem, 15cqi, 15rem);
  border-radius: 50%;
  overflow: hidden;
}

.hero__memoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(12rem, 20cqi, 20rem);
}

.hero__title h2 {
  font-size: clamp(2rem, 2cqi, 5rem);
  text-align: center;
  font-family: "Roboto Thin";
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 115vh;
  max-width: var(--max-width);
}

.about__text {
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: left;
  text-transform: uppercase;
  text-wrap: balance;
  font-size: 2.6rem;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about__text img {
  margin-top: 5rem;
  width: clamp(20rem, 20cqi, 30rem);
}

#video {
  position: relative;
  display: flex;
  justify-content: center;
  height: 200%;
}

.shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video__sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50%;
}

.main__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: scale(0.5);
  will-change: transform;
}

.video__text__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  font-size: clamp(4rem, 7cqi, 6rem);
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .about__text {
    width: 90%;
  }
}
