// base/_fonts.scss

@font-face {
  font-family: "Delight Medium";
  src: url("assets/fonts/Delight/delight-medium.otf") format("opentype");
}

@font-face {
  font-family: "Delight SemiBold";
  src: url("assets/fonts/Delight/delight-semibold.otf") format("opentype");
}

@font-face {
  font-family: "Ronzino Regular";
  src: url("assets/fonts/Ronzino/Ronzino-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Akony";
  src: url("assets/fonts/Akony/akony.woff2") format("woff2");
}

@font-face {
  font-family: "New Title";
  src: url("assets/fonts/NewTitle/NewTitle-Variable.woff") format("woff");
}

@font-face {
  font-family: "Morganite";
  src: url("assets/fonts/Morganite/Morganite-Light.ttf") format("truetype");
}
